//===========================================================================//
// ABOUT SECTION
//===========================================================================//
@import "variables";
/*about section*/
#about {
  /*profile about*/
  margin-top: 200px;

  .about-btn {
    /*about buttons*/
    height: auto;
    margin-right: auto;
    margin-left: auto;
    animation-delay: 1s;
    text-align: center;
    .btn {
      /*button style*/
      margin: 7px 7px;
      background: $primary-color;
      color: #ffffff;
      width: 180px;
      border-radius: 2px;
      box-shadow: 0;
      transition: box-shadow 0.25s ease-in-out;
      &:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
      }
    }
  }
}





