#home #menuToggle .toggle-normal i {color: #555 !important}
/* #home #menuToggle {background: rgba(255, 255, 255, 0.8)} */
#home .header-background #v-card-holder #v-card a {color: #fff}
.modal-footer .btn-default {color: #eaeaea}
#portfolios #portfolios-card .tab-content .grid figure img {opacity: 0.95}

#portfolios .gallery-btn {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 21px;
    animation-delay: 1s;
    text-align: center;
}
#portfolios .gallery-btn .btn {
    margin: 7px 7px;
      background: #06A763;
      color: #ffffff;
      width: 220px;
      height: 45px;
      border-radius: 2px;
}
#portfolios .gallery-btn .btn:hover {
    background: #046c40;
}
