body {
    background-color: #F5F5F5;
}
header {
    background: #fff;
}
.my-gallery figure {
    margin-bottom: 21px;
}
.my-gallery figure img {
    width: 100%;
    height: auto;
}
.my-gallery figcaption {
    text-align: center;
}
